@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color:  var(--clr-dark);
    color: aliceblue;
}

.linha-vertical1 {
    height: 1970px;
    border-left: 1px solid #191A19;
    position: absolute;
    z-index: -1;
    float: left;
    margin-left: 256px;
  }
.linha-vertical2 {
    height: 1970px;
    border-left: 1px solid #191A19;
    position: absolute;
    z-index: -1;
    float: left;
    margin-left: 450px;
  }
.linha-vertical3 {
    height: 1970px;
    border-left: 1px solid #191A19;
    position: absolute;
    z-index: -1;
    float: left;
    margin-left: 670px;
  }
.linha-vertical4 {
    height: 1970px;
    border-left: 1px solid #191A19;
    position: absolute;
    z-index: -1;
    float: left;
    margin-left: 870px;
  }
.linha-vertical5 {
    height: 1970px;
    border-left: 1px solid #191A19;
    position: absolute;
    z-index: -1;
    float: left;
    margin-left: 1060px;
  }

  @media screen and (min-width:400px) and (max-width:1280px){
    .linha-vertical1, .linha-vertical2, .linha-vertical3, .linha-vertical4, .linha-vertical5{
        display: none;
    } 
  }

/***************** Variáveis *******************/
/************************************************/

:root {
    --clr-dark: #111;
    --clr-orange-dark: #ec4e00;
}

/***************** Menu *******************/
/************************************************/

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

.nav-logo { 
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 23px;
    margin-left: 20px;
    cursor: pointer;
} 

.nav-logo:hover{
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

.links {
    display: flex;
    gap: 40px;
    font-family: 'Teko', sans-serif;
    margin-right: 10px;
    font-size: larger;
    cursor: pointer;
    text-transform: uppercase;
}

#home:hover{ 
    color:  var(--clr-orange-dark);
    transition: 0.5s;
}

#pages:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

#portfolio:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

#blog:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

#shop:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

#elements:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

#search:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}

#bar:hover {
    color: var(--clr-orange-dark);
    transition: 0.5s;
}


/***************** section__1 *******************/
/************************************************/

.section__1 {
    margin-top: 10px;
    padding: 50px;
    display: flex;
    gap: 40px;
    margin-left: 50px;
}


.box__img .img1 {
    width: 280px;
    position: absolute;
    margin-left: 300px;
    z-index: 20;
    cursor: pointer;
    border-radius: 9px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img .img1:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 30;
}

.box__img .img2 {
    width: 150px;
    position: absolute;
    margin-left: 399px;
    bottom: 110px;
    z-index: 20;
    cursor: pointer;
    border-radius: 9px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img .img2:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 30;
}

.box__img .img3 {
    width: 200px;
    position: absolute;
    margin-left: 160px;
    bottom: 130px;
    cursor: pointer;
    border-radius: 9px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img .img3:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 30;
}

.text__area {
    margin-left: 600px;
}

.section__1 .text__area {
    margin-top: 50px;
}

 .text__area h1 {
    font-size: 30pt;
    font-family: 'Teko', sans-serif;
}

hr {
    width: 50px;
    border: 2px solid;
}

.text__area p {
    font-size: 14pt;
    font-family: 'Teko', sans-serif;
    width: 400px;
    margin-top: 11px;
    font-weight: 400;
}

.text__area button {
    margin-top: 15px;
    width: 180px;
    background-color: var(--clr-dark);
    border-style: none;
    border: 2px solid white;
    color: white;
    padding: 3px;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}

.text__area button:hover{
    border-color: var(--clr-orange-dark);
    transition: 0.5s;
}

/***************** section__2 *******************/
/************************************************/

.section__2 {
    margin-top: 40px;
    padding: 50px;
    display: flex;
    gap: 40px;
    margin-right: 650px;
    flex-direction: row-reverse;
}


.box__img2 .img1 {
    width: 320px;
    position: absolute;
    margin-left: 30px;
    z-index: 20;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 999px;
    height: 240px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img2 .img1:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 30;
}

.box__img2 .img2 {
    width: 150px;
    position: absolute;
    margin-left: 60px;
    z-index: 20;
    cursor: pointer;
    border-radius: 9px;
    margin-top: 199px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img2 .img2:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 30;
}

.box__img2 .img3 {
    width: 200px;
    position: absolute;
    margin-left: 240px;
    cursor: pointer;
    border-radius: 9px;
    margin-top: 140px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img2 .img3:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 30;
}

.text__area2 h1 {
    font-size: 30pt;
    font-family: 'Teko', sans-serif;
    margin-left: 229px;
    text-align: right;
}

.hr2 {
    width: 50px;
    border: 2px solid;
    margin-left: 433px;
   
}

.text__area2 p {
    font-size: 14pt;
    font-family: 'Teko', sans-serif;
    width: 350px;
    margin-top: 11px;
    font-weight: 400;
    margin-left: 133px;
    text-align: right;
    
}

.text__area2 button {
    margin-top: 15px;
    width: 180px;
    background-color: var(--clr-dark);
    border-style: none;
    border: 2px solid white;
    color: white;
    padding: 3px;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 303px;
}

button:hover{
    border-color: var(--clr-orange-dark);
    transition: 0.5s;
}

/***************** section__3 *******************/
/************************************************/

.section__3 {
    margin-top: 30px;
    padding: 50px;
    display: flex;
    gap: 40px;
    margin-left: 50px;
}

.box__img3 .img5 {
    width: 280px;
    position: absolute;
    margin-left: 300px;
    z-index: 20;
    cursor: pointer;
    border-radius: 9px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img3 .img5:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 40;
}

.box__img3 .img4 {
    width: 150px;
    position: absolute;
    margin-left: 399px;
    z-index: 30;
    cursor: pointer;
    border-radius: 9px;
    margin-top: 211px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img3 .img4:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 40;
}

.box__img3 .img3 {
    width: 180px;
    position: absolute;
    margin-left: 180px;
    cursor: pointer;
    border-radius: 9px;
    z-index: 10;
    margin-top: 141px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box__img3 .img3:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    z-index: 40;
}

.text__area3 {
    margin-left: 600px;
}

.section__3 .text__area {
    margin-top: 50px;
}

 .text__area h1 {
    font-size: 30pt;
    font-family: 'Teko', sans-serif;
}

hr {
    width: 50px;
    border: 2px solid;
}

.text__area p {
    font-size: 14pt;
    font-family: 'Teko', sans-serif;
    width: 400px;
    margin-top: 11px;
    font-weight: 400;
}

.text__area button {
    margin-top: 15px;
    width: 180px;
    background-color: var(--clr-dark);
    border-style: none;
    border: 2px solid white;
    color: white;
    padding: 3px;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}

#hr{
    width: 100%;
    margin-top: 150px;
    border: 1px solid #ec4e00;
}

/***************** footer *******************/
/************************************************/

footer {
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding: 50px;
    color: aliceblue;
    text-transform: uppercase;
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

footer h1 {
    font-size: 30pt;
}

footer p {
    letter-spacing: 10px;
    margin-bottom: 18px;
}

.footer {
    margin-top: 35px;
}

.footer a {
    color: aliceblue;
    padding: 15px;
    font-size: 12pt;
}

/***************** MediaQuerys *******************/
/************************************************/

@media (min-width:720px) and (max-width:1280px)  {
  
       
        nav {
           display: flex;
           flex-direction: column;
           font-size: 100%;
       }
       
       .nav-links{
           width: 75%;
       }
    
    /***************** section__1 *******************/
       .box__img .img1{
           width: 300px;
           margin-left: 15%;
       }
    
       .box__img .img2{
           bottom: 10%;
           top: 30%;
           left: 1%;
       }
    
       .box__img .img3{
           bottom: 10%;
           top: 25%;
           margin-left: 4%;
       }
    
      
      .text__area {
        display: block;
        margin-left: 1%;
        margin-right: 11px;
    }    

    .text__area  h1{
        margin-top: 390px;
        font-size: 2.1em;
        text-align: center;
        margin-right: 11px;
        text-align: center;
        margin-left: 75px
        
    }

    .text__area p{
        width: 300px;
        margin-left: px;
        font-size: 11pt;
        text-align: center;
        margin-left: 70px;
        font-size: 1.2em;
    }

    .text__area hr{
       margin-left: 190px;
    }

    .text__area button{
        width: 100px;
        margin-left: 165px;
    }

    /***************** section__2 *******************/

    .box__img2 #img1{
        width: 350px;
        margin-left: 20%;
        top: 1000px;
    }

    .box__img2 #img2{
        bottom: 10%;
        top: 80%;
        margin-left: 15%;
    }

    .box__img2 #img3{
        bottom: 10%;
        top: 79%;
        margin-left: 45%;
    }

    .text__area2 {
        align-items: center;
    }    

    .text__area2  h1{
     margin-left: 185%;
        margin-top: 370px;
        font-size: 2.1em;
        text-align: center;
       width: 200px;
        text-align: center;
    }

    .text__area2 p{
        width: 300px;
        margin-left: px;
        font-size: 11pt;
        text-align: center;
        margin-left: 170%;
        font-size: 1.2em;
    }

    .text__area2 hr{
       margin-left: 210%;
    }

    .text__area2 button{
        width: 100px;
        margin-left: 203%;
    }

     /***************** section__3 *******************/

     
       .box__img3 .img5{
           width: 300px;
           margin-left: 15%;
           top: 1800px;
       }
    
       .box__img3 .img3{
           bottom: 10%;
           top: 1860px;
           margin-left: 50px;
       }
    
       .box__img3 .img4{
           bottom: 10%;
           top: 1820px;
           margin-left: 290px;
       }

        /***************** section__4 *******************/

        .box__img2 .img1{
            width: 300px;
            margin-left: 20%;
            top: 2670px;
        }
     
        .box__img2 .img3{
            bottom: 10%;
            top: 2660px;
            margin-left: 80px;
        }
     
        .box__img2 .img2{
            bottom: 10%;
            top: 2630px;
            margin-left: 370px;
        }

        #hr{
            margin-top: 11px;
        }
 
}



















